ul.page-audio {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
  background-color: #fff;
  display: inline;
}
ul.page-audio li {
  display: inline;
}

ul.page-audio li img {
  width: 42px;
  height: 42px;
}

md-card {
    margin: 10px;
}

md-card-title {
}

md-card-actions.center {
    margin: auto;
    width: 100%;
    border: 0px solid #73AD21;
    padding: 1px;
}

md-card-actions button {
    float: none;
    width: 30%;
}

div.hidden {
  visibility: hidden;
}

