:host {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
}
:host input[type='text'] {
  width: 100%;
  height: 50px;
  outline: none;
  border: none;
  font-size: 18px;
  padding-left: 5px;
}
:host button {
  border: none;
  background: #58ce5c;
  width: 14%;
  color: white;
  outline: none;
  padding: 0 10px;
  font-size: 1em;
}
:host button:focus {
  background: #4CAF50;
}