<md-card class=“login-card”>
  <img (click)="goMglish()" md-card-image src="images/mglish_logo.png" />
  <md-card-content>
    <md-card-title>Login</md-card-title>
  </md-card-content>

  <md-card-actions class="center" >
    <button (click)="anoLogin()" md-raised-button color="primary">Guest</button>
    <button (click)="emailLogin()" md-raised-button color="primary" disabled>Email</button>
    <button (click)="twittLogin()" md-raised-button color="primary" disabled>Twitter</button>
  </md-card-actions>
</md-card>
