md-card {
    margin: 10px;
}

md-card md-card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

md-card-title {
}

md-card-actions.center {
    margin: auto;
    width: 100%;
    border: 0px solid #73AD21;
    padding: 1px;
}

md-card-actions button {
    float: none;
    width: 30%;
}

md-card-title {
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
    text-align: center;
    color: #ff9900;
}

:host(.hidden) {
    display: block;
}