* {
  box-sizing: border-box; }

header {
  background: #b0b0b0;
  color: #fff;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #b0b0b0, rgba(176, 176, 176, 0.9));
  position: relative;
  background-size: cover; }

header input[type='text'] {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  height: 40px;
  width: 40px;
  outline: none;
  font-size: 18px;
  text-align: center;
}

.chat-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px 80px 20px;
}

.chat-section, flexchat-message {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 5px 0px;
}

:host .chat-container flexchat-message:nth-child(odd) .chat-message {
  color: #fff;
  justify-content: flex-end;
  background: #03A9F4;
  background: linear-gradient(0deg, #76cbed, #51c0ef 60%, #03A9F4);
}

.chat-message {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #3c3c3c;
  background: #b0b0b0;
  height: 100%;
  max-width: 82%;
  padding: 10px;
  border-radius: 12px;
  background: linear-gradient(0deg, #dadada, #d0d0d0 60%, #b0b0b0);
  word-break: break-word;
}

.chat-section:nth-child(odd), flexchat-message:nth-child(odd) {
  justify-content: flex-end;
}

.btn.twitter {
  padding: 6px;
  background: #1DA1F2;
  border: none;
  outline: none;
  color: #fff;
}

login, .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding-bottom: 10px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  background: #fafafa;
}
