<!--
<header>
  <h3>Mglish-chat</h3>
  <input type="text" #limit (change)="changeLimit(limit.value)">
</header>
-->

<div class="chat-container">

  <flexchat-message
    *ngFor="let message of messages | async"
    [message]="message">
  </flexchat-message>

</div>

<input-bar (sent)="addMessage($event)"></input-bar>