.selected {
  background-color: #CFD8DC !important;
  color: white;
}

md-card {
    margin: 10px;
}

.md-card-content {
  padding: 0 14px 0 14px;
  height: 48px;
  color: white;
}


.secondary {
    color: rgba(0,0,0,0.54);
}