<md-sidenav-layout fullscreen (keydown.esc)="sidenav.close()">
  <md-sidenav #sidenav align="start" mode="over" opened=false>
    <md-nav-list >
      <img (click)="goMglish()" src="images/mglish_logo_banner_3go.png" />
      <side-nav-list [items]="items" (itemClicked)="sidenav.close()">
      <!-- <side-nav-list [navItems]="items" (itemClicked)="navItemClicked($event)">-->
        <!-- <a md-list-item *ngFor="let item of items" (click)="sidenav.close()">
        <a md-list-item *ngFor="let item of items" (click)="onClick(item.id)">
          <md-icon md-list-icon>{{item.icon}}</md-icon>
          <span md-line>{{item.name}}</span>
          <span md-line>{{item.description}}</span>
        </a>
        <button md-button #mybutton (click)="sidenav.close()">Close</button>
        -->
      </side-nav-list>
      <button class="close" md-raised-button (click)="sidenav.close()">Close</button>
      <p class="copyright">Copyright 2016 www.mglish.com</p>
    </md-nav-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path fill="currentColor" d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z" />
      </svg>
    </button>
    {{title}}
  </md-toolbar>
  <!--<md-spinner *shellRender></md-spinner>-->

  <nav class="hidden">
    <ul>
      <!-- li><a [routerLink]="['Chapter']">Chapter</a></li>-->
      <li><a [routerLink]="['AllChapters']">Chapters</a></li>
      <li><a [routerLink]="['Chatting']">Chatting</a></li>
      <li><a [routerLink]="['About']">About</a></li>
    </ul>
  </nav>
  <router-outlet ></router-outlet>
</md-sidenav-layout>