.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 20px;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  user-select: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

.img {
  width: 120px;
  height:80px;
}

md-sidenav-layout {
      background: rgba(0,0,0,0.08);
}

md-sidenav {
  width: 300px;
}

.md-list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav {
    display: block;
}

nav.hidden {
    display: none;
}

nav.right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 1px solid #73AD21;
    padding: 10px;
}

nav ul li {
    display: inline;
}

button.close {
    margin:auto;
    display:block;
}

p.copyright {
    font-family: "Times New Roman", Times, serif;
    font-size: 10px;
    text-align: center;
    color: #ff9900;
}

