<a md-list-item *ngFor="let item of items" (click)="onClick(item.id)">
  <md-icon md-list-icon>{{item.icon}}</md-icon>
  <span md-line>{{item.name}}</span>
  <span md-line>{{item.description}}</span>
</a>
