<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mglish</title>
  <base href="/">
  {{content-for 'head'}}

  {{#unless environment.production}}
    <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
  {{/unless}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="theme-color" content="#000000">
  <link rel="manifest" href="/manifest.webapp">
  {{#each mobile.icons}}
    <link rel="{{rel}}" {{#if sizes}}sizes="{{sizes}}" {{/if}}href="{{href}}">
  {{/each}}

  {{#if environment.production}}
    <script type="text/javascript">
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/worker.js').catch(function(err) {
          console.log('Error installing service worker: ', err);
        });
      }
    </script>
  {{/if}}

</head>
<body>
  <mat-demo-app>Loading...</mat-demo-app>
  <!--
  <script src="vendor/es6-shim/es6-shim.js"></script>
  <script src="vendor/reflect-metadata/Reflect.js"></script>
  <script src="vendor/systemjs/dist/system.src.js"></script>
  <script src="vendor/zone.js/dist/zone.js"></script>
  -->

  {{#if environment.production}}
    <script src="/app-concat.js" async></script>
  {{else}}
    {{#each scripts.polyfills}}<script src="{{.}}"></script>{{/each}}
    <script>
      System.import('system-config.js').then(function () {
        System.import('main');
      }).catch(console.error.bind(console));
    </script>
  {{/if}}

</body>
</html>
